:root {
    font-size: 17px;
    color: white;
}

html,
body {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 1rem;
}
