<!DOCTYPE html>
<html>
    <head>
        <script defer src="./js/popup.js"></script>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="options">
                <h2>Meet Volume</h2>
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.001"
                    class="slider"
                    id="volume"
                />
                <div><span id="volume-display"></span>%</div>
            </div>
        </div>
    </body>
</html>
